<ion-header>
  <ion-toolbar class="custom-toolbar">
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="top-design"></div> <!-- Degradado superior -->

  <!-- Logo -->
  <ion-grid>
    <ion-row class="ion-justify-content-center">
      <ion-col size="12" class="ion-text-center">
        <h1 class="page-title">CREACIÓN PASEADOR</h1>
        <img src="assets/logo.png" alt="Sacatucan Logo" class="logo" />
      </ion-col>
    </ion-row>
  </ion-grid>

  <!-- Formulario -->
  <ion-grid>
    <ion-row class="ion-justify-content-center">
      <ion-col size="10" class="ion-text-center">
        <ion-item lines="full" class="input-item"> <!-- Añadimos líneas completas debajo de los campos -->
          <ion-icon name="person-outline" slot="start" color="primary"></ion-icon>
          <ion-input placeholder="Nombre Completo"></ion-input>
        </ion-item>
      </ion-col>
    </ion-row>

    <ion-row class="ion-justify-content-center">
      <ion-col size="10" class="ion-text-center">
        <ion-item lines="full" class="input-item"> <!-- Añadimos líneas completas debajo de los campos -->
          <ion-icon name="mail-outline" slot="start" color="primary"></ion-icon>
          <ion-input type="email" placeholder="Correo Electrónico"></ion-input>
        </ion-item>
      </ion-col>
    </ion-row>

    <ion-row class="ion-justify-content-center">
      <ion-col size="10" class="ion-text-center">
        <ion-item lines="full" class="input-item"> <!-- Añadimos líneas completas debajo de los campos -->
          <ion-icon name="call-outline" slot="start" color="primary"></ion-icon>
          <ion-input type="tel" placeholder="Celular"></ion-input>
        </ion-item>
      </ion-col>
    </ion-row>

    <!-- Botón para seleccionar la foto -->
    <ion-row class="ion-justify-content-center">
      <ion-col size="10" class="ion-text-center">
        <ion-button class="foto-button" expand="block" color="primary">Foto</ion-button> <!-- Sin acción de momento -->
      </ion-col>
    </ion-row>

    <br><br><br><br>    <br><br><br><br>
    <ion-row class="ion-justify-content-center">
      <ion-col size="10" class="ion-text-center">
        <ion-button expand="block" color="primary">Crear</ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>