<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Perfil</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="top-design"></div>

  <br><br><br><br><br><br>
  <form>
    <ion-item>
      <ion-label position="floating">Nombre</ion-label>
      <ion-input [(ngModel)]="usuario.nombre" name="nombre"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="floating">Apellido</ion-label>
      <ion-input [(ngModel)]="usuario.apellido" name="apellido"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="floating">Correo</ion-label>
      <ion-input [(ngModel)]="usuario.correo" name="correo" disabled></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="floating">Teléfono</ion-label>
      <ion-input [(ngModel)]="usuario.telefono" name="telefono" type="tel"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label>Región</ion-label>
      <ion-input [value]="usuario.region" disabled></ion-input>
    </ion-item>

    <ion-item>
      <ion-label>Comuna</ion-label>
      <ion-input [value]="usuario.comuna" disabled></ion-input>
    </ion-item>

    <!-- Botón para cambiar comuna -->
    <ion-button expand="full" color="medium" (click)="mostrarCambioComuna()">Cambiar Comuna</ion-button>
    <div *ngIf="cambiarComuna">
      <ion-item>
        <ion-label>Región</ion-label>
        <ion-select [(ngModel)]="regionTemporal" name="regionTemporal"
          (ionChange)="onRegionChange($event.target.value)">
          <ion-select-option *ngFor="let region of regiones" [value]="region.region">{{ region.region
            }}</ion-select-option>
        </ion-select>
      </ion-item>

      <ion-item>
        <ion-label>Comuna</ion-label>
        <ion-select [(ngModel)]="comunaTemporal" name="comunaTemporal">
          <ion-select-option *ngFor="let comuna of comunas" [value]="comuna">{{ comuna }}</ion-select-option>
        </ion-select>
      </ion-item>

      <ion-button expand="full" color="success" (click)="guardarComuna()">Aceptar</ion-button>
      <ion-button expand="full" color="danger" (click)="cancelarComuna()">Cancelar</ion-button>
    </div>

    <!-- Botón para cambiar contraseña -->
    <ion-button expand="full" color="medium" (click)="mostrarCambioPassword()">Cambiar Contraseña</ion-button>
    <div *ngIf="cambiarPassword">
      <ion-item>
        <ion-label>Contraseña Actual</ion-label>
        <ion-input [(ngModel)]="passwordActual" name="passwordActual" type="password"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label>Nueva Contraseña</ion-label>
        <ion-input [(ngModel)]="nuevaPassword" name="nuevaPassword" type="password"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label>Repetir Nueva Contraseña</ion-label>
        <ion-input [(ngModel)]="repetirPassword" name="repetirPassword" type="password"></ion-input>
      </ion-item>

      <ion-button expand="full" color="success" (click)="guardarPassword()">Aceptar</ion-button>
      <ion-button expand="full" color="danger" (click)="cancelarPassword()">Cancelar</ion-button>
    </div>

    <!-- Botón para guardar cambios -->
    <ion-button expand="full" (click)="guardarCambios()">Guardar Cambios</ion-button>
  </form>
</ion-content>