<ion-header>
  <ion-toolbar class="custom-toolbar">
    <!-- Puedes mantener este título en caso de que quieras que también se muestre en la barra superior -->
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="top-design"></div>

  <ion-grid>
    <ion-row class="ion-justify-content-center">
      <ion-col size="12" class="ion-text-center">
        <h1 class="page-title">Recupera tu Contraseña</h1> <!-- Texto agregado -->
      </ion-col>
    </ion-row>

    <ion-row class="ion-justify-content-center">
      <ion-col size="12" class="ion-text-center">
        <img src="assets/logo.png" alt="Logo" class="logo"/>
      </ion-col>
    </ion-row>

    <ion-row class="ion-justify-content-center">
      <ion-col size="10" class="ion-text-center">
        <ion-item lines="none" class="input-item">
          <ion-icon name="mail-outline" slot="start" color="primary"></ion-icon>
          <ion-input placeholder="Correo Electrónico"></ion-input>
        </ion-item>
      </ion-col>
    </ion-row>

    <ion-row class="ion-justify-content-center">
      <ion-col size="10" class="ion-text-center">
        <ion-button expand="block" color="primary" class="recover-button">Enviar Enlace</ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
