<ion-header>
  <ion-toolbar class="custom-toolbar">
    <ion-title>Sacatucan</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="top-design"></div>

  <ion-grid>
    <ion-row class="ion-justify-content-center">
      <ion-col size="12" class="ion-text-center">
        <img src="assets/logo.png" alt="Sacatucan Logo" class="logo"/>
      </ion-col>
    </ion-row>

    <ion-row class="ion-justify-content-center button-group">
      <ion-col size="auto" class="ion-text-center">
        <ion-button expand="block" color="primary" (click)="navigateToLogin2()">Logueate</ion-button>
      </ion-col>
      <ion-col size="auto" class="ion-text-center">
        <ion-button expand="block" color="light" (click)="navigateToRegister()">Regístrate</ion-button>
      </ion-col>
    </ion-row>

    <ion-row class="ion-justify-content-center">
      <ion-col size="12" class="ion-text-center">
        <p>o inicia con tu correo</p>
        <img src="assets/glogin.png" alt="Sign in with Google" class="google-signin-image"/>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>