<ion-header>
  <ion-toolbar class="custom-toolbar">
    <ion-title>Marketplace de Paseo de Mascotas</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid *ngIf="seccionActual === 'paseadores'">
    <!-- Sección de paseadores -->
    <ion-row>
      <ion-col size="12">
        <ion-card>
          <ion-card-header>
            <ion-card-title>Paseadores disponibles</ion-card-title>
          </ion-card-header>
          <ion-card-content>
            <ion-list>
              <ion-item *ngFor="let paseador of paseadores" class="paseador-item">
                <ion-thumbnail slot="start" class="paseador-thumbnail">
                  <img [src]="paseador.foto">
                </ion-thumbnail>
                <ion-label>
                  <h2>{{ paseador.nombre }} {{ paseador.apellidos }}</h2>
                  <p>{{ paseador.descripcion }}</p>
                  <p><strong>Tel:</strong> {{ paseador.telefono }}</p>
                </ion-label>
              </ion-item>
            </ion-list>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col size="12" class="ion-text-center">
        <ion-button expand="block" (click)="publicarComoPaseador()">Publicate aquí como Paseador</ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>

  <ion-grid *ngIf="seccionActual === 'mascotas'">
    <!-- Sección de mascotas -->
    <ion-row>
      <ion-col size="12">
        <ion-card>
          <ion-card-header>
            <ion-card-title>Mascotas disponibles</ion-card-title>
          </ion-card-header>
          <ion-card-content>
            <ion-list>
              <ion-item *ngFor="let mascota of mascotas" class="mascota-item">
                <ion-thumbnail slot="start" class="mascota-thumbnail">
                  <img [src]="mascota.foto">
                </ion-thumbnail>
                <ion-label>
                  <h2>{{ mascota.nombre }}</h2>
                  <p>{{ mascota.descripcion }}</p>
                  <p><strong>Tel:</strong> {{ mascota.telefono }}</p>
                </ion-label>
              </ion-item>
            </ion-list>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col size="12" class="ion-text-center">
        <ion-button expand="block" (click)="publicarComoMascota()">Publicate aquí como Mascota</ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>

<!-- Barra de navegación inferior -->
<ion-footer>
  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="paseadores" (click)="cambiarSeccion('paseadores')">
      <ion-icon name="person"></ion-icon>
      <ion-label>Paseadores</ion-label>
    </ion-tab-button>
    <ion-tab-button tab="mascotas" (click)="cambiarSeccion('mascotas')">
      <ion-icon name="paw"></ion-icon>
      <ion-label>Mascotas</ion-label>
    </ion-tab-button>
  </ion-tab-bar>
</ion-footer>
