<ion-header>
  <ion-toolbar>
  <ion-title>Mascotas</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="top-design"></div>
  <!-- Mostrar las mascotas publicadas -->
  <div class="mascota-grid">
    <ion-card *ngFor="let mascota of mascotas" (click)="verDetallesMascota(mascota)">
      <img [src]="mascota.imagen" alt="{{ mascota.nombre }}">
      <ion-card-header>
        <ion-card-title>{{ mascota.nombre }}</ion-card-title>
        <ion-card-subtitle>{{ mascota.edad }} años, {{ mascota.sexo }}</ion-card-subtitle>
      </ion-card-header>
      <ion-card-content>
        <p>{{ mascota.descripcion }}</p>
      </ion-card-content>
    </ion-card>
  </div>

  <!-- Botón para publicar nueva mascota -->
  <ion-button expand="full" (click)="abrirModalMascota()" class="publicar-button">Publica tu Mascota</ion-button>
</ion-content>
