.mascota-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);  // Dos columnas
  gap: 16px;  // Espacio entre las tarjetas
  padding: 16px;
}

ion-card {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.publicar-button {
  margin-top: 20px;
  margin-bottom: 20px;
}
