<ion-menu side="start" contentId="main-content">
  <ion-header>
    <ion-toolbar>
      <ion-title>Menú</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-content>
    <ion-button expand="full" color="primary" (click)="goToMensajes()" lines="none">
      <ion-label>Ver Mensajes</ion-label>
    </ion-button>

    <ion-button expand="full" color="primary" (click)="goToPublicacionPaseador()" lines="none"> 
      <ion-label>Publicacion de Paseador</ion-label>
    </ion-button>
    
    <ion-button expand="full" color="primary" (click)="goToPublicacionMascotas()" lines="none">
      <ion-label>Mis Mascotas</ion-label>
    </ion-button>
  </ion-content>

  <ion-footer>
    <ion-button expand="full" color="primary" (click)="cerrarSesion()" class="cerrar-sesion-boton">
      Cerrar Sesión
    </ion-button>
  </ion-footer>
</ion-menu>

<!-- Área principal de la aplicación -->
<ion-router-outlet id="main-content"></ion-router-outlet>