<ion-menu side="start" contentId="main-content">
  <ion-header>
    <ion-toolbar>
      <ion-title>Menú</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-content>
    <ion-list>
      <ion-item [routerLink]="'/home'">
        <ion-icon slot="start" name="home-outline"></ion-icon>
        <ion-label>Inicio</ion-label>
      </ion-item>
      <ion-item [routerLink]="'/perfil'">
        <ion-icon slot="start" name="person-outline"></ion-icon>
        <ion-label>Perfil</ion-label>
      </ion-item>
      <ion-item [routerLink]="'/mascotas'">
        <ion-icon slot="start" name="paw-outline"></ion-icon>
        <ion-label>Mascotas</ion-label>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-menu>

<!-- Área principal de la aplicación -->
<ion-router-outlet id="main-content"></ion-router-outlet>
