<ion-content>
  <div class="top-design"></div>
  <h2 class="ion-text-center">Publicaciones del Usuario</h2>

  <!-- Publicación del Paseador -->
  <div *ngIf="paseador">
    <h3 class="ion-text-center">Publicación de Paseador</h3>
    <ion-card>
      <img [src]="paseador.imagenUrl" alt="Paseador" style="width: 100%; height: auto;" />
      <ion-card-content>
        <h3>{{ paseador.nombre }}</h3>
        <p>{{ paseador.descripcion }}</p>
      </ion-card-content>
      <ion-button expand="block" color="danger" (click)="eliminarPaseador()">Eliminar</ion-button>
    </ion-card>
  </div>

  <!-- Mascotas Publicadas -->
  <div>
    <h3 class="ion-text-center">Mascotas Publicadas</h3>
    <div *ngIf="mascotas.length > 0; else noMascotas">
      <ion-row>
        <ion-col size="6" *ngFor="let mascota of mascotas">
          <ion-card>
            <img [src]="mascota.imagenUrl" alt="Mascota" style="width: 100%; height: auto;" />
            <ion-card-content>
              <h3>{{ mascota.nombre }}</h3>
              <p>{{ mascota.edad }} años, {{ mascota.sexo }}</p>
              <p>{{ mascota.descripcion }}</p>
            </ion-card-content>
            <ion-button expand="block" color="danger" (click)="eliminarMascota(mascota)">Eliminar</ion-button>
          </ion-card>
        </ion-col>
      </ion-row>
    </div>
    <ng-template #noMascotas>
      <p class="ion-text-center">El usuario no tiene mascotas publicadas.</p>
    </ng-template>
  </div>
</ion-content>
